@CHARSET "UTF-8";

#results div {
	width: 30%;
	border: 1px solid black;
	float: left;
	margin-right: 2%;
	margin-bottom: 2%;
}

#results div img {
	margin: 20px;
	float: left;
}

#results div h3 {
	text-align: center;
}